# Processing of the counts+features files

In [1]:
import pandas as pd
import numpy as np
from plotnine import *
import os

In [2]:
data_path='../data/'

In [3]:
samples_dir = data_path + '5p_counts_with_features/'
all_samples_files = pd.Series(os.listdir(samples_dir))
all_samples_files

0       Trehalose_t5_2_S9_counts_features.csv
1      Trehalose_t-5_2_S6_counts_features.csv
2     Trehalose_t10_2_S10_counts_features.csv
3     Trehalose_t-5_3_S11_counts_features.csv
4     Trehalose_t10_3_S15_counts_features.csv
5      Trehalose_t5_3_S14_counts_features.csv
6       Trehalose_t2_2_S8_counts_features.csv
7      Trehalose_t-5_1_S1_counts_features.csv
8       Trehalose_t5_1_S4_counts_features.csv
9      Trehalose_t2_3_S13_counts_features.csv
10     Trehalose_t0_3_S12_counts_features.csv
11     Trehalose_t10_1_S5_counts_features.csv
12      Trehalose_t0_2_S7_counts_features.csv
13      Trehalose_t2_1_S3_counts_features.csv
14      Trehalose_t0_1_S2_counts_features.csv
dtype: object

In [4]:
trehalose_series_files = all_samples_files.to_list()
trehalose_series_files

['Trehalose_t5_2_S9_counts_features.csv',
 'Trehalose_t-5_2_S6_counts_features.csv',
 'Trehalose_t10_2_S10_counts_features.csv',
 'Trehalose_t-5_3_S11_counts_features.csv',
 'Trehalose_t10_3_S15_counts_features.csv',
 'Trehalose_t5_3_S14_counts_features.csv',
 'Trehalose_t2_2_S8_counts_features.csv',
 'Trehalose_t-5_1_S1_counts_features.csv',
 'Trehalose_t5_1_S4_counts_features.csv',
 'Trehalose_t2_3_S13_counts_features.csv',
 'Trehalose_t0_3_S12_counts_features.csv',
 'Trehalose_t10_1_S5_counts_features.csv',
 'Trehalose_t0_2_S7_counts_features.csv',
 'Trehalose_t2_1_S3_counts_features.csv',
 'Trehalose_t0_1_S2_counts_features.csv']

In [5]:
series_list = []
for sample_file in trehalose_series_files:
    counts_df = pd.read_csv(os.path.join(samples_dir, sample_file), index_col=0) 
    counts_df = counts_df[~counts_df.gene_id.str.contains('^Q')]#Remove mito genes as the codon-amino acid correspondence has differences from the cytoplasmic one
    counts_df['sample'] = sample_file.split('_S')[0]
    series_list.append(counts_df)

series_df = pd.concat(series_list, axis=0).reset_index(drop=True)
series_df.to_csv(samples_dir+'trehalose_series_features_with_counts.csv')
series_df

/opt/modules/i12g/anaconda/envs/mrna_halflife2/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

          gene_id  position_from_start  counts a_site_codon          sample
0         YAL001C                    6       0          CTG  Trehalose_t5_2
1         YAL001C                    9       0          ACG  Trehalose_t5_2
2         YAL001C                   12       0          ATT  Trehalose_t5_2
3         YAL001C                   15       0          TAT  Trehalose_t5_2
4         YAL001C                   18       0          CCT  Trehalose_t5_2
...           ...                  ...     ...          ...             ...
37592053  YPR199C                  867       0          TTT  Trehalose_t0_1
37592054  YPR199C                  870       0          TCG  Trehalose_t0_1
37592055  YPR199C                  873       1          TCA  Trehalose_t0_1
37592056  YPR199C                  876       0          AAA  Trehalose_t0_1
37592057  YPR199C                  879       0          TTA  Trehalose_t0_1

[37592058 rows x 5 columns]